{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <head>
        <meta charset="UTF-8">
        <title>TaskAdd</title>
    </head>
<body>
{% block content %}
    <main role="main" class="container">
    <div class="jumbotron">
    <form method="POST">
    <div class="form-group">
        <div>
            <label for="taskAdd"><h1>Add a new task :</h1></label>
            <form class="col-3" method="POST" action="/newtask" novalidate>
                {{ form.csrf_token }} <!-- {{ form.hidden_tag() }} -->
                <div class="form-group">
                    {{ form.add_new_task.label }}<br> {{ form.add_new_task }}
                    {% if form.add_new_task.errors %} {% for message in form.add_new_task.errors %}
                        <small id="emailHelp" class="form-text text-info">{{ message }}</small>
                    {% endfor %}{% endif %}
                </div>

                <div class="form-group">
                    {{ form.add_description.label }}<br> {{ form.add_description }}
                    {% if form.add_description.errors %} {% for message in form.add_description.errors %}
                        <small id="emailHelp" class="form-text text-info">{{ message }}</small>
                    {% endfor %}{% endif %}
                </div>

                <div class="form-group">
                    {% with errors = get_flashed_messages(category_filter=["danger"]) %}
                        {% if errors %}
                            <div class="alert-message block-message error">
                                <ul>
                                    {%- for msg in errors %}
                                        <p style="color:#ff8c00" ;>{{ msg }} </p>
                                    {% endfor -%}
                                </ul>
                            </div>
                        {% endif %}
                    {% endwith %}
                    {{ form.deadLine.label }}<br> {{ form.deadLine }}
                    {% if form.deadLine.errors %} {% for message in form.deadLine.errors %}
                        <small id="emailHelp" class="form-text text-info">{{ message }}</small>
                    {% endfor %}{% endif %}
                </div>
                <div class="row d-flex justify-content-center">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
</form>
</div>
</main>
</body>
</html>