<html>
    <head>
        <script src="../static/js/compare.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <ul class="nav">
                <li class="nav-item">
                    <h2 style="color:#CCCCCC;">bootstrap veut pas me laisser center les tables.</h2>
                </li>
            </ul>
        </nav><br/><br/><br/>
        
        <div class="container">
            <table class="table text-center d-inline">
                <thead>
                    <tr>
                        <th>My list</th>
                    </tr>
                </thead>

                <tbody id="me">

                </tbody> 
            </table>
            <table class="table text-center d-inline">
                <thead>
                    <tr>
                        <th>My friend's list</th>
                    </tr>
                </thead>

                <tbody id="friend">

                </tbody>

            </table>
        </div>
    </body>
</html>