{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>editing</title>
</head>
<body>
{% block content %}
    <main role="main" class="container">
        <div class="jumbotron">
            <form method="POST">
                <div class="form-group">
                    <div>
                        <label for="taskAdd"><h1>Edit your task :</h1></label>
                        <br><input type="text" class="form-control" id="taskAdd" name="newV"
                                   value="{{ edit.name }}">
                        <br><input type="text" class="form-control" id="taskAdd" name="newD"
                                   value="{{ edit.description }}">
                        <br><input type="text" class="form-control" id="taskAdd" name="newDead"
                                   value="{{ edit.deadline }}">
                        <input type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
</body>
</html>