<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>{% block login %}login{% endblock %}</title>
</head>

<html class="h-100">
<body class="d-flex h-100 justify-content-center align-items-center">
<div>
    <div class="row d-flex justify-content-center">
        <h1 class="text-center w-100">Login Page</h1>
        {% with errors = get_flashed_messages(category_filter=["danger"]) %}
        {% if errors %}
            <div class="alert-message block-message error">
                <ul>
                    {%- for msg in errors %}
                        <p style="color:#ff8c00" ;>{{ msg }} </p>
                    {% endfor -%}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
        <form class="col-3" method="POST" action="/" novalidate>
            {{ form.csrf_token }} <!-- {{ form.hidden_tag() }} -->
            <div class="form-group">
                <br>{{ form.username.label }} {{ form.username }}
                {% if form.username.errors %} {% for message in form.username.errors %}
                    <small id="emailHelp" class="form-text text-info">{{ message }}</small>
                {% endfor %}{% endif %}
            </div>

            <div class="form-group">
                {{ form.password.label }} {{ form.password }}
                {% if form.password.errors %} {% for message in form.password.errors %}
                    <small id="emailHelp" class="form-text text-info">{{ message }}</small>
                {% endfor %}{% endif %}
            </div>
            <div class="row d-flex justify-content-center">
                {{ form.submit (class="btn btn-primary") }}<br>
            </div>
            <a href="/register" role="button">
                <button type="button" class="btn btn-link">register</button>
            </a>
            {% block content %}{% endblock %}
        </form>
    </div>
</div>
</body>
</html>