<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>{% block login %}login{% endblock %}</title>
</head>

<html>
<body>
<div>
    <div>
        <h1>Login Page</h1>
        {% with errors = get_flashed_messages(category_filter=["danger"]) %}
        {% if errors %}
            <div>
                <ul>
                    {%- for msg in errors %}
                        <p style="color:#ff8c00" ;>{{ msg }} </p>
                    {% endfor -%}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
        <form method="POST" action="/login/" novalidate>
            {{ form.csrf_token }} <!-- {{ form.hidden_tag() }} -->
            <div>
                <br>{{ form.username.label }} {{ form.username }}
                {% if form.username.errors %} {% for message in form.username.errors %}
                    <small id="emailHelp">{{ message }}</small>
                {% endfor %}{% endif %}
            </div>

            <div>
                {{ form.password.label }} {{ form.password }}
                {% if form.password.errors %} {% for message in form.password.errors %}
                    <small id="emailHelp">{{ message }}</small>
                {% endfor %}{% endif %}
            </div>
            <div>
                {{ form.submit (class="") }}<br>
            </div>
            <a href="/register" role="button">
                <button type="button">register</button>
            </a>
            {% block content %}{% endblock %}
        </form>
    </div>
</div>
</body>
</html>