{{ header }}

<script>
    let user_id = {{ user_id }};
</script>
<script src="../static/js/recommendations.js"></script>
<script src="../static/js/autocomplete.js"></script>
<style>
    table td {
        vertical-align: middle !important;
    }
</style>
<div class="container">
    <div id="container">
        <h1>Recommendations</h1>
        <div id="displayData">
            <table class="table text-center">

                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Name</th>
                        <th>Tags</th>
                    </tr>
                </thead>

                <tbody id="tshows">

                </tbody>

            </table>
        </div>
    </div>
</div>
{{ footer }}