<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #main-video {
            width: 1024px;
            margin: auto;
        }

        .video-player {
            display: flex;
        }
    </style>
    <script>
        
    </script>
</head>

<body onLoad="buildStuff()">
    <div class="video-player">
        <video id="main-video" onLoad="/*sync()*/">
            <source src="testing-video.mp4" />
        </video>
    </div>
    <button onClick="toggle()">Play</button>
    <button onClick="jumpTo(10)">Jump to 10</button>
    <button onClick="jumpTo(20)">Jump to 20</button>
    <button onClick="jumpTo(25)">Jump to 25</button>
    <form method="POST" action="api.weebinator.org/users/">
        <input required>
    </form>
</body>

</html>